<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <div class="alert"></div> 

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>ATUALIZAR COMENTÁRIO</h2><br>

            <form method="post">

                <div class="form-goup">

                    <input type="text" placeholder="identificação única" name="ref" required/>
                    <input type="text" placeholder="stars" name="stars"/>
                    <input type="text" placeholder="comment" name="comment"/>

                </div>

                <button class="btn btn-success insert" value="update" type="submit">ATUALIZAR</button>
                <button class="btn btn-success insert" value="delete" type="submit">DELETAR</button>
            
            </form>

        </div>
    </div>
</div>



<% if(COMMENTS != null ) { %>

<% for( let i = 0; i < COMMENTS['count']; i++ ) { %>

<div id="<%= COMMENTS['rows'][i]['id'] %>">
identificação única: <strong><%= COMMENTS['rows'][i]['id'] %></strong>  <br>
<a href="<%= COMMENTS['rows'][0]['product']['link'] %>">produto</a>  <br>

comentário: <strong><%= COMMENTS['rows'][i]['comment'] %></strong>  <br>
estrelas: <u><%= COMMENTS['rows'][i]['stars'] %></u>  <br> <br>        

    <p><%= COMMENTS['rows'][i]['createdAt'] %></p>
    <p><%= COMMENTS['rows'][i]['updatedAt'] %></p>  <br>

    <br>
</div>

<% } %>

<% } %>

<script>
    let form = document.querySelector( 'form' )
    form.setAttribute( 'action', window.location.href )
    form.addEventListener( 'submit', update_delete )

    let button = document.querySelectorAll('button.insert')
    button.forEach( Button =>   
    { 
        Button.addEventListener( 'click', () =>
        {
            event.target.setAttribute( 'name', 'method' ) 
        })   
    })



    function update_delete()
    {
        let
            ajax = new XMLHttpRequest(),
            body = 
                'method='    + document.querySelector('button[name="method"]').value  +
                '&ref='      + document.querySelector('input[name="ref"]').value      + 
                '&stars='    + document.querySelector('input[name="stars"]').value    + 
                '&comment='  + document.querySelector('input[name="comment"]').value 
            console.log(body)

        ajax.open( 'POST', window.location.href )
        ajax.setRequestHeader( 'Content-type' ,'application/x-www-form-urlencoded' )
        ajax.onreadystatechange = function()
        {
            if(ajax.status === 200 && ajax.readyState === 4)
            {
                let RESULT = JSON.parse(ajax.response)
                console.log(RESULT)
                document.querySelector('.alert').innerHTML  =  RESULT.update  ?  `<div class="alert alert-success">${RESULT.update}</div>`  :  RESULT.delete  ?  `<div class="alert alert-success">${RESULT.delete}</div>`  :  `<div class="alert alert-warning">${RESULT.errors}</div>`
                document.querySelector('button[name="method"]').removeAttribute('name','method')
                
                if(RESULT.update)
                {
                    let element = document.getElementById(document.querySelector('input[name="ref"]').value)
                    element.children[0].innerHTML = document.querySelector('input[name="ref"]').value
                    element.children[4].innerHTML = document.querySelector('input[name="stars"]').value  ?  document.querySelector('input[name="stars"]').value:  element.children[4].innerHTML
                    element.children[6].innerHTML = document.querySelector('input[name="comment"]').value  ?  document.querySelector('input[name="comment"]').value  :  element.children[6].innerHTML
                    element.children[10].innerHTML = new Date()
                }
                else(RESULT.delete)
                {
                    let element = document.getElementById(document.querySelector('input[name="ref"]').value)
                    console.log(element.children)
                    element.children[0].innerHTML = ''
                    element.children[4].innerHTML = ''
                    element.children[6].innerHTML = ''
                    element.children[9].innerHTML = ''
                    element.children[10].innerHTML = ''
                }

            }
        }
        event.preventDefault()
        ajax.send(body)
    }







    
</script>