

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<% if( User[0] ) { %>


    <% for( let i = 0; i < User.length; i++ ) { %>
        <button class="btn btn-success" type="button"><%= User[i]._id %></button>
        <button class="btn btn-success" type="button"><%= User[i].name %></button>
        <button class="btn btn-success" type="button"><%= User[i].email %></button>
        <br><br>
    <% } %>


<% } else if( !User[0] ) { %>


    <%= User.name %>   <hr/>   <%= User.email %>  <hr/>

    <button class="btn btn-primary" type="button">UPDATE</button>
    <button class="btn btn-warning" type="button" value="delete" name="delete">DELETE</button>
    
    
<% } %>

















